/Project Template/*
/ModernApartment/*
/Course Materials/*
/P1/Build/*
/P2/Build/*
/P3/Build/*
/P4/Build/*
/P1/Library/*
/P2/Library/*
/P3/Library/*
/P4/Library/*
/P1/Temp/*
/P2/Temp/*
/P3/Temp/*
/P4/Temp/*
/P1 Introduction/Build/*
/P2 Modern Apartment/Build/*
/P3 Maze/Build/*
/P4 Puzzler/Build/*
/P5 Education/Build/*
/P1 Introduction/Library/*
/P2 Modern Apartment/Library/*
/P3 Maze/Library/*
/P4 Puzzler/Library/*
/P5 Education/Library/*
/P1 Introduction/Temp/*
/P2 Modern Apartment/Temp/*
/P3 Maze/Temp/*
/P4 Puzzler/Temp/*
/P5 Education/Temp/*
P1/P1.zip
P2/JavierRobalino_Project2.zip
P3/JavierRobalino_Project3.zip
P4/JavierRobalino_Project4.zip
P1 Introduction/P1.zip
P2 Modern Apartment/JavierRobalino_Project2.zip
P3 Maze/JavierRobalino_Project3.zip
P4 Puzzler/JavierRobalino_Project4.zip
P5 Education/JavierRobalino_Project5.zip